
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  margin:0;
  background-color:#ddd;
  color:#333;
  min-width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration:none;
}
a:hover,
a:link{
  text-decoration:none;
}
i {
  padding:1em 1.5em;
  cursor:pointer;
  float:right;
  font-style:normal;
  position:absolute;
  display:inline-block;
  right:0;
  color:#aaa;
}

i:hover {
  color:#333;
}

#menu {
	background: #fff;
	width: 500px;
	margin: 100px auto 0 auto;
    font-size:15px;
}

#menu ul{
  list-style-type: none;
  padding:0;
  font-weight:bold;
}

#menu ul a {
    padding:1em 2em;
    display:inline-block;
    width:100%;
    text-decoration: none;
	font-size: 30.5px;
	line-height: 27px;
}

#menu ul a:hover {
  color:#999;
}

/*list items*/
#menu li {
  position:relative;

}

#menu ul ul{
  padding:.75em 0;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
  background-color:#f8f8f8;
}


#menu ul ul li a {
  display: block;
  font-weight:normal;
  background-color:#f8f8f8;
  padding:.6em 2em .6em 3.5em;
}

#menu ul ul li a:hover {
	background: #f2f2f2;
}

#menu ul ul {
	display: none;
}
#menu li.active ul {
	display: block;
}
.title a{
  text-decoration: none;
  display: list-item;
  color: #333333;
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 6px;
}
.videoList{
  width: 80%;
  margin: 0 auto;
  list-style: none;
  padding-top: 35px;
}

.row{
    background: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 200px;
}
.miniVideo video{
  height:  200px;;
}
.videoDescription{
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}
.videoDescription li,
.videoDescription p{
  color: #908f8f;
}
/*.textBox{*/
/*  width: 67%;*/
/*  height: inherit;*/
/*  position: relative;*/
/*}*/

/*Video form*/
.videoForm{
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  background: #fbfbfb;
}

.videoForm input{
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

.videoForm input:focus{
  background: #d2d9dd;
}

.videoForm .videoInput{
  background: none;
}
input[type="file"]{
background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.videoForm h5{
  text-align: center;
}

.loader {
  position: absolute;
  margin: 0 auto;
  z-index: 9999;
  top: 50px;
  cursor: wait;
}



/*Navbar*/

.siteNavbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.siteNavbar ul li {
  float: left;
}

.siteNavbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.siteNavbar ul li a:hover:not(.active) {
  background-color: #111;
}

.siteNavbar .active {
  background-color: #6610f2;
}