{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mitr&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <title>Video CRUD</title>
    {% block script %}{% endblock %}
</head>

<body>
    <div id="page-wrapper">
    <div class="siteNavbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="new_video">Novo vídeo</a></li>
          <li style="float:right"><a class="active" href="#">Minha conta</a></li>
        </ul>
    </div>
        {% block content %}{% endblock %}
    </div>
</body>

</html>