{% extends "base.html" %}
{% block content %}
<div class="videoList">
        {% for video in videos_list %}
            <div class="row">
                <col-md-4 class="miniVideo" id ="video1">
                    <video onclick="this.play()">
                        <source src="{{ video.file }}" type="video/mp4">
                    </video>
                </col-md-4>
                <col-md-8 class="textBox">
                    <div class="videoDescription">
                        <li class="title"><a href="{{ video.file }}">{{ video.title }}</a></li>

                        {% if video.director %}<li>Diretor: {{ video.director }}</li> {% endif %}
                        {% if video.production_date %}<li>Data de produção: {{ video.production_date }}</li> {% endif %}
                        {% if video.description %}<p>Descrição: {{ video.description }}</p>{% endif %}
                         <div class="btns">
                            <form action="{% url 'delete' video.id %}" method="post">
                            {% csrf_token %}
                                <input type="submit" class="deleteBtn" value="Excluir">
                            </form>

                            <form action="{% url 'edit' id=video.id %}" method="post">
                            {% csrf_token %}
                                <input type="submit" class="updateBtn" value="Editar">
                            </form>
                         </div>
                    </div>
                </col-md-8>
            </div>
        {% endfor %}
</div>
{% endblock %}